<footer>
  <div
    class="relative after:content-[''] after:absolute after:bottom-0 after:right-0 lg:after:w-[63%] after:w-full after:h-[80%] after:bg-BG-200 after:z-[-1] z-[1]">
    <!-- subscribe section start -->
    <div class="container-md">
      <div class="bg-primary rounded-xl" data-aos="zoom-in-up">
        <div class="container grid md:grid-cols-12 gap-24p max-3xl:px-10 max-lg:px-8 max-md:px-6">
          <div class="md:col-start-1 md:col-end-7 py-80p">
            <h4 class="text-56 text-BG-300 mb-24p text-split-left">
              Join Our Newsletter
            </h4>
            <p class="text-18 text-BG-300 mb-40p">
              Subscribe to our newsletter for the latest updates, news, and exclusive insights straight to
              your inbox.
            </p>
            <form class="bg-glass-4 rounded-full border border-BG-300 p-2 flex-y">
              <input autocomplete="off" type="email" name="email" placeholder="Your email address"
                class="w-full text-base text-n-800 bg-transparent placeholder:text-n-800 px-16p">
              <button class="bg-BG-300 rounded-full icon-20 text-primary py-3 px-24p flex-c">
                <i class="ph ph-paper-plane-tilt"></i>
              </button>
            </form>
          </div>
          <div class="xxl:col-start-8 md:col-start-7 md:col-end-13 flex items-end">
            <img class="animate-bounce-slow-left" src="/images/photos/newsletterillustration.svg"
              alt="newsletter">
          </div>
        </div>
      </div>
    </div>
    <!-- subscribe section end -->
    <div class="container">
      <div class="section-py grid grid-cols-12 gap-x-24p md:gap-y-60p gap-y-40p">
        <div class="lg:col-span-5 col-span-12 lg:order-1 order-2">
          <h4 class="text-24 text-white mb-24p text-split-left">Contact</h4>
          <div class="grid gap-24p *:flex-y *:gap-16p text-base text-n-30" data-aos="zoom-in">
            <div>
              <span class="size-48p rounded-full border border-glass-2 flex-c icon-24 text-primary">
                <i class="ph ph-phone-call"></i>
              </span>
              <div class="*:block">
                <a href="https://wa.me/917679136043" class="link-1">Contant us</a>
              </div>
            </div>
            <div>
              <span class="size-48p rounded-full border border-glass-2 flex-c icon-24 text-primary">
                <i class="ph ph-envelope-open"></i>
              </span>
              <div class="*:block">
                <a href="mailto:info@exchme.com" class="link-1">info@exchme.com</a>
                <a href="mailto:demo@exchme.com" class="link-1">support@exchme.com</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="lg:col-span-7 col-span-12 grid lg:grid-cols-3 md:grid-cols-2 xsm:grid-cols-2 grid-cols-1 gap-x-24p md:gap-y-60p gap-y-40p lg:order-2 order-1">
          <div class="lg:order-1 order-3">
            <h4 class="text-24 text-white mb-24p text-split-left">Quick Link</h4>
            <ul class="list-none list-inside grid gap-2 text-base text-n-30" data-aos="zoom-in">
              <li>
                <a href="#" class="link-1">Home</a>
              </li>
              <li>
                <a href="/currency-exchange" class="link-1">Currency Exchange</a>
              </li>
              <li>
                <a href="/sign-in" class="link-1">Sign-In</a>
              </li>
              <li>
                <a href="/sign-up" class="link-1">Sign-Up</a>
              </li>
            </ul>
          </div>
          <div class="lg:order-5  order-6">
            <h4 class="text-24 text-white mb-24p text-split-left">More Link</h4>
            <ul class="list-none list-inside grid gap-2 text-base text-n-30" data-aos="zoom-in">
              <li>
                <a href="./privacy-policy" class="link-1">Privacy Policy</a>
              </li>
              <li>
                <a href="./terms-and-conditions" class="link-1">Terms &amp; Condition</a>
              </li>
              <li>
                <a href="./contact-us" class="link-1">Contact Us</a>
              </li>
              <li>
                <a href="./faqs" class="link-1">FAQs</a>
              </li>
            </ul>
          </div>
          <div class="lg:order-3 order-1">
            <!-- <a href="index">
              <img style="width: 50px; height: 50px; border-radius: 50%;" src="/images/icons/logo.png"
                alt="brand">
            </a> -->
            <br>
            <p class="text-base text-n-30">
              
            </p>
          </div>
          <div class="lg:order-6 order-2">
            <h4 class="text-24 text-white mb-24p text-split-left">Follow Us</h4>
            <div
              class="flex-y gap-3 *:size-32p *:flex-c icon-16 text-primary *:border *:border-primary *:rounded-full">
              <a href="#" class="hover:bg-primary hover:text-BG-200 transition-1">
                <i class="ph ph-facebook-logo"></i>
              </a>
              <a href="#" class="hover:bg-primary hover:text-BG-200 transition-1">
                <i class="ph ph-twitter-logo"></i>
              </a>
              <a href="https://t.me/exch_me" class="hover:bg-primary hover:text-BG-200 transition-1">
                <i class="ph ph-telegram-logo"></i>
              </a>
              <a href="https://www.instagram.com/exch_me/" class="hover:bg-primary hover:text-BG-200 transition-1">
                <i class="ph ph-instagram-logo"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative after:content-[''] after:absolute after:bottom-0 after:right-0 lg:after:w-[63%] after:w-full after:h-full after:bg-BG-100 after:z-[-1] z-[1] p-24p text-center text-white">
      <p class="lg:ml-[50%]">Copyright © <span class="currentYear span"></span> <a href="#"
          class="text-primary hover:underline transition-1">EXCHME</a>. All
        rights reserved.</p>
    </div>
  </div>
</footer>


  <% if (locals.showAlert) { %>
    <<script>
      window.onload = function () {
        // Set up SweetAlert for the notification
        const Toast = Swal.mixin({
          position: "top",
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          }
        });
  
        // Get the value of resendMail and set appropriate timer
        const showResendMail = <%= locals.resendMail ? 'true' : 'false' %>;
        const timers = <%= locals.resendMail ? 7000 : 3000 %>;
  
        // Fire the Toast with dynamic options
        Toast.fire({
          toast: !showResendMail,
          showCancelButton: showResendMail, // Show cancel button if resendMail is true
          showConfirmButton: showResendMail, // Show confirm button if resendMail is true
          confirmButtonText: 'Resend mail',
          timer: timers, // Set the timer based on resendMail value
          icon: '<%= locals.alertType %>', // Set the alert icon
          text: '<%= locals.alertMessage %>' // Set the alert message
        })
      };
    </script>>
  <% } %>