<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/icons/logo.png" type="image/x-icon">
  <title>EXCHME - Currency Exchange</title>
  <script defer="" src="/js/app.js"></script>
  <link href="/styles/app.css" rel="stylesheet">
</head>
</head>

<body>
  <!-- preloader start -->
  <%- include('./partials/preloader') %>;
    <!-- preloader end -->

    <!-- scroll to top button start -->
    <div class="scroll-to-top show" id="scrollToTop">
      <i class="ph ph-arrow-fat-lines-up"></i>
    </div>
    <!-- scroll to top button end -->

    <!-- header start -->
    <%- include('./partials/header') %>;
      <!-- header end -->

      <!-- main start -->
      <main class="min-h-screen">
        <!-- Privacy Policy Beadcrumb start -->
        <section class="section-pt bg-[url('../images/photos/beadcrumbBG.png')] bg-no-repeat bg-cover">
          <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 justify-between gap-24p">
              <div class="pt-60p">
                <h2 class="text-40 text-white mb-32p text-split-left">Privacy Policy</h2>
                <ul class="flex-y *:flex-y flex-wrap gap-1 text-base text-white mb-60p *:transition-1">
                  <li class="hover:text-warning">
                    <a href="./index">Home</a>
                  </li>
                  <li>
                    <i class="ph ph-caret-right"></i>
                  </li>
                  <li class="hover:text-warning">
                    <a href="#">More</a>
                  </li>
                  <li>
                    <i class="ph ph-caret-right"></i>
                  </li>
                  <li class="text-warning">
                    <span>Privacy Policy</span>
                  </li>
                </ul>
              </div>
              <div class="flex md:justify-end">
                <img class="w- animate-bounce-slow-left" src="images/photos/beadcrumbBanner2.png" alt="beadcrumb">
              </div>
            </div>
          </div>
        </section>
        <!-- Privacy Policy Beadcrumb end -->
        <!-- privacy policy details start -->
        <section class="pb-80p pt-6 overflow-visible">
          <br><br><br><br><br>
          <div class="container mt-24p">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-24p">
              <div class="lg:col-span-8 md:col-span-7">
                <div
                  class="pt-60p pb-32p px-32p grid grid-cols-1 divide-y divide-dashed divide-opacity-50 divide-white border border-glass-3">
                  <div id="information-collection">
                    <h2 class="text-40 text-white mb-24p"> Information We Collect </h2>
                    <p class="text-base text-white mb-24p">
                      <span>- Personal Information:</span> We collect personal information such as your name, email
                      address, phone number, and payment information when you register, make a purchase, or interact
                      with our services.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Non-Personal Information:</span> We also collect non-personal information, including
                      browser type, IP address, device information, and how you interact with our website.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Cookies and Tracking:</span> We use cookies and other tracking technologies to enhance
                      your user experience, remember your preferences, and analyze website traffic.
                    </p>
                  </div>
                  <div id="use-information">
                    <h2 class="text-32 text-white my-24p"> How We Use Your Information </h2>
                    <p class="text-base text-white mb-24p">
                      <span> - Service Provision:</span> Your personal information is used to provide and improve our
                      services, process transactions, and communicate with you regarding your account and our offerings.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Marketing and Communications:</span> With your consent, we may use your contact
                      information to send you promotional materials, updates, and newsletters related to our services.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Analytics and Improvement:</span> We analyze user behavior and trends to improve our
                      website, develop new features, and provide a better user experience.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Legal Compliance</span> We may use your information to comply with legal obligations,
                      enforce our terms of service, and protect our rights.
                    </p>
                  </div>
                  <div id="sharing-information">
                    <h2 class="text-24 text-white my-24p"> Information Sharing and Disclosure </h2>
                    <p class="text-base text-white mb-24p">
                      <span>- Third-Party Service Providers:</span> We share your information with third-party service
                      providers who assist us in delivering our services, such as payment processors, analytics
                      providers, and marketing agencies.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Business Transfers:</span> In the event of a merger, acquisition, or sale of assets, your
                      information may be transferred as part of the business transaction.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Legal Requirements:</span> We may disclose your information if required by law or in
                      response to legal processes, such as subpoenas or court orders.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Protection of Rights:</span> We may disclose your information to protect the rights,
                      property, or safety of our company, our users, or others.
                    </p>
                  </div>
                  <div id="user-rights">
                    <h2 class="text-20 text-white my-24p"> Your Rights and Choices </h2>
                    <p class="text-base text-white mb-24p">
                      <span>- Access and Update:</span> You have the right to access, update, or correct your personal
                      information at any time through your account settings.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Opt-Out:</span> You can opt out of receiving promotional communications from us by
                      following the unsubscribe instructions provided in the communication.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Data Deletion:</span> You can request the deletion of your personal information, subject
                      to certain legal obligations, by contacting our support team.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Cookie Preferences:</span> You can manage your cookie preferences through your browser
                      settings, which allows you to accept or reject cookies.
                    </p>
                  </div>
                  <div id="security">
                    <h2 class="text-base text-white my-24p"> Security Measures </h2>
                    <p class="text-base text-white mb-24p">
                      <span>- Data Encryption:</span> We use industry-standard encryption technologies to protect your
                      personal information during transmission and storage.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Access Control:</span> Access to your personal information is restricted to authorized
                      personnel who need it to perform their job duties.
                    </p>
                    <p class="text-base text-white mb-24p">
                      <span>- Regular Audits:</span> We conduct regular security audits and vulnerability assessments to
                      ensure our systems remain secure and your data is protected.
                    </p>
                    <p class="text-base text-white">
                      <span>- Incident Response:</span> In the event of a data breach, we have a comprehensive incident
                      response plan in place to minimize the impact and notify affected users.
                    </p>
                  </div>
                </div>
              </div>
              <div class="lg:col-span-4 md:col-span-5 xl:-mt-30 lg:-mt-25 md:-mt-18 z-10">
                <div class="sticky xl:top-36 top-30">
                  <div
                    class="grid grid-cols-1 gap-3 p-24p rounded-xl bg-BG-100 *:transition-1 *:flex *:btn-sm *:border *:border-glass-3 *:bg-BG-200 ">
                    <a href="#information-collection" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-hand-pointing icon-28"></i> Information Collection </a>
                    <a href="#use-information" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-info icon-28"></i> Use of Information </a>
                    <a href="#sharing-information" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-share-network icon-28"></i> Sharing &amp; Disclosure </a>
                    <a href="#user-rights" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-user icon-28"></i> User Rights </a>
                    <a href="#security" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-lock icon-28"></i> Security Practices </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- privacy policy details end -->
      </main>
      <!-- main end -->
      <!-- footer one start -->
      <%- include('./partials/footer') %>;

        <!-- footer one end -->

</body>

</html>