<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/icons/logo.png" type="image/x-icon">
  <title>EXCHME - Currency Exchange</title>
  <script defer="" src="/js/app.js"></script>
  <link href="/styles/app.css" rel="stylesheet">
</head>
</head>

<body>
  <!-- preloader start -->
  <%- include('./partials/preloader') %>;
    <!-- preloader end -->

    <!-- scroll to top button start -->
    <div class="scroll-to-top show" id="scrollToTop">
      <i class="ph ph-arrow-fat-lines-up"></i>
    </div>
    <!-- scroll to top button end -->

    <!-- header start -->
    <%- include('./partials/header') %>;
      <!-- header end -->

      <!-- header end -->
      <!-- main start -->
      <main class="min-h-screen">
        <!-- Privacy Policy Beadcrumb start -->
        <section class="section-pt bg-[url('../images/photos/beadcrumbBG.png')] bg-no-repeat bg-cover">
          <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 justify-between gap-24p">
              <div class="pt-60p">
                <h2 class="text-40 text-white mb-32p text-split-left">Terms and Conditions</h2>
                <ul class="flex-y *:flex-y flex-wrap gap-1 text-base text-white mb-60p *:transition-1">
                  <li class="hover:text-warning">
                    <a href="./index">Home</a>
                  </li>
                  <li>
                    <i class="ph ph-caret-right"></i>
                  </li>
                  <li class="hover:text-warning">
                    <a href="#">More</a>
                  </li>
                  <li>
                    <i class="ph ph-caret-right"></i>
                  </li>
                  <li class="text-warning">
                    <span>Terms and Conditions</span>
                  </li>
                </ul>
              </div>
              <div class="flex md:justify-end">
                <img class="w- animate-bounce-slow-left" src="images/photos/beadcrumbBanner2.png" alt="beadcrumb">
              </div>
            </div>
          </div>
        </section>
        <!-- Privacy Policy Beadcrumb end -->
        <!-- privacy policy details start -->
        <section class="pb-80p pt-6 overflow-visible">
          <br><br><br><br><br>
          <div class="container mt-24p">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-24p">
              <div class="lg:col-span-8 md:col-span-7">
                <div
                  class="pt-60p pb-32p px-32p grid grid-cols-1 divide-y divide-dashed divide-opacity-50 divide-white border border-glass-3">

                  <div id="terms-conditions">

                    <div id="information-collection">
                      <h3 class="text-32 text-white my-24p">1. Information We Collect</h3>
                      <p class="text-base text-white mb-24p">
                        <span>1.1 Personal Information:</span> We collect personal information, including your name,
                        email address, phone number, and payment information, when you register, make a purchase, or
                        interact with our services.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>1.2 Non-Personal Information:</span> We may collect non-personal information such as your
                        browser type, IP address, device information, and data on how you interact with our website.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>1.3 Cookies and Tracking:</span> We use cookies and similar tracking technologies to
                        enhance your user experience, remember your preferences, and analyze website traffic.
                      </p>
                    </div>

                    <div id="use-information">
                      <h3 class="text-32 text-white my-24p">2. How We Use Your Information</h3>
                      <p class="text-base text-white mb-24p">
                        <span>2.1 Service Provision:</span> We use your personal information to deliver and improve our
                        services, process transactions, and communicate with you regarding your account and our
                        offerings.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>2.2 Marketing and Communications:</span> With your consent, we may use your contact
                        information to send you promotional materials, updates, and newsletters about our services.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>2.3 Analytics and Improvement:</span> We analyze user behavior and trends to improve our
                        website, develop new features, and enhance the user experience.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>2.4 Legal Compliance:</span> We may use your information to comply with legal obligations,
                        enforce our Terms and Conditions, and protect our rights.
                      </p>
                    </div>

                    <div id="sharing-information">
                      <h3 class="text-32 text-white my-24p">3. Information Sharing and Disclosure</h3>
                      <p class="text-base text-white mb-24p">
                        <span>3.1 Third-Party Service Providers:</span> We may share your information with third-party
                        providers that assist us in delivering our services, such as payment processors, analytics
                        providers, and marketing agencies. These third parties are obligated to handle your information
                        securely and only use it for the specific purposes of providing services to us.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>3.2 Business Transfers:</span> In the event of a merger, acquisition, or sale of all or
                        part of our assets, your information may be transferred as part of the transaction. We will
                        notify you of any changes to data ownership or usage rights in such cases.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>3.3 Legal Requirements:</span> We may disclose your information if required by law or in
                        response to legal processes, such as subpoenas or court orders, to comply with applicable legal
                        or regulatory obligations.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>3.4 Protection of Rights:</span> We may disclose your information to protect the rights,
                        property, or safety of our company, our users, or others. This includes cooperating with third
                        parties to prevent fraud or address security issues.
                      </p>
                    </div>

                    <div id="user-rights">
                      <h3 class="text-32 text-white my-24p">4. Your Rights and Choices</h3>
                      <p class="text-base text-white mb-24p">
                        <span>4.1 Access and Update:</span> You have the right to access, update, or correct your
                        personal information at any time by accessing your account settings or contacting our support
                        team.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>4.2 Opt-Out:</span> You can opt out of receiving promotional communications from us by
                        following the unsubscribe instructions provided in any communication or by contacting us
                        directly.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>4.3 Data Deletion:</span> You may request the deletion of your personal information by
                        contacting our support team. Please note that we may retain certain data to fulfill legal
                        obligations or resolve disputes.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>4.4 Cookie Preferences:</span> You can manage your cookie preferences through your browser
                        settings, allowing you to accept, reject, or limit cookies. Disabling cookies may affect your
                        experience with some features on our website.
                      </p>
                    </div>

                    <div id="security">
                      <h3 class="text-32 text-white my-24p">5. Security Measures</h3>
                      <p class="text-base text-white mb-24p">
                        <span>5.1 Data Encryption:</span> We employ industry-standard encryption technologies to protect
                        your personal information during transmission and storage.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>5.2 Access Control:</span> Access to your personal information is restricted to authorized
                        personnel who need it to perform their job duties, ensuring that only essential personnel have
                        access to your data.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>5.3 Regular Audits:</span> We conduct regular security audits and vulnerability
                        assessments to maintain the security of our systems and protect your data.
                      </p>
                      <p class="text-base text-white mb-24p">
                        <span>5.4 Incident Response:</span> In the event of a data breach, we have a comprehensive
                        incident response plan in place. We will take steps to contain and minimize any impact, and
                        affected users will be notified promptly if necessary.
                      </p>
                    </div>

                    <div id="changes-terms">
                      <h3 class="text-32 text-white my-24p">6. Changes to These Terms</h3>
                      <p class="text-base text-white mb-24p">
                        We reserve the right to modify or update these Terms and Conditions at any time. Any changes
                        will be posted on our website, and we encourage you to review these terms periodically. Your
                        continued use of our services after changes are posted constitutes your acceptance of the
                        modified terms.
                      </p>
                    </div>

                    <div id="contact-us">
                      <h3 class="text-32 text-white my-24p">7. Contact Us</h3>
                      <p class="text-base text-white mb-24p">
                        If you have any questions or concerns regarding these Terms and Conditions, our data handling
                        practices, or your rights, please contact our support team through [contact method, e.g., email
                        or support page].
                      </p>
                    </div>

                    <div id="governing-law">
                      <h3 class="text-32 text-white my-24p">8. Governing Law</h3>
                      <p class="text-base text-white">
                        These Terms and Conditions are governed by the laws of [relevant jurisdiction]. Any disputes
                        arising out of or related to these terms shall be subject to the exclusive jurisdiction of the
                        courts in [relevant jurisdiction].
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="lg:col-span-4 md:col-span-5 xl:-mt-30 lg:-mt-25 md:-mt-18 z-10">
                <div class="sticky xl:top-36 top-30">
                  <div
                    class="grid grid-cols-1 gap-3 p-24p rounded-xl bg-BG-100 *:transition-1 *:flex *:btn-sm *:border *:border-glass-3 *:bg-BG-200 ">
                    <a href="#information-collection" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-hand-pointing icon-28"></i> Information Collection </a>
                    <a href="#use-information" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-info icon-28"></i> Use of Information </a>
                    <a href="#sharing-information" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-share-network icon-28"></i> Sharing &amp; Disclosure </a>
                    <a href="#user-rights" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-user icon-28"></i> User Rights </a>
                    <a href="#security" class="hover:bg-primary text-white hover:text-n-900">
                      <i class="ph ph-lock icon-28"></i> Security Practices </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- privacy policy details end -->
      </main>
      <!-- main end -->
      <!-- footer one start -->
      <%- include('./partials/footer') %>;

        <!-- footer one end -->

</body>

</html>